* {
    margin: 0;
    padding: 0;
}
.navbar-nav li {
    padding-right: 50px;
}
.navbar {
    padding: .8rem;
}

.list li a {
    text-transform: uppercase;
    color: #ffffff;
}
.logo {
    height: 4rem;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}